langchain==0.0.166
chromadb==0.3.22
llama-cpp-python==0.1.48
urllib3==1.26.6
pdfminer.six==20221105
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
faiss-cpu==1.7.4
huggingface_hub==0.16.4
transformers==4.31.0
protobuf==3.20.0
accelerate==0.21.0
bitsandbytes==0.41.1
click==8.1.6
openpyxl==3.1.2
einops==0.6.1
xformers==0.0.20
gradio==3.40.1
charset-normalizer==2.0.4
PyPDF2==3.0.1
epub2txt==0.1.6
docx2txt==0.8
loguru==0.7.0
pandas==2.0.3